In [125]:
import numpy as np
import pandas as pd

In [126]:
train=pd.read_csv("/kaggle/input/rossmann-store-sales/train.csv")
store=pd.read_csv("/kaggle/input/rossmann-store-sales/store.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [127]:
train.head(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1

In [128]:
train.tail(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [129]:
train.DayOfWeek.nunique(),train.Date.nunique(),train.Store.nunique()

(7, 942, 1115)

In [130]:
store["PromoInterval"]=store["PromoInterval"].fillna("Jan,Apr,Jul,Oct")
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"

In [131]:
train=pd.merge(train,store, on="Store" )
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
3,1,2,2015-07-28,5011,560,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
4,1,1,2015-07-27,6102,612,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,"Jan,Apr,Jul,Oct"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,1115,6,2013-01-05,4771,339,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017205,1115,5,2013-01-04,4540,326,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017206,1115,4,2013-01-03,4297,300,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017207,1115,3,2013-01-02,3697,305,1,0,0,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"
1017208,1115,2,2013-01-01,0,0,0,0,a,1,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [137]:
train=train.sample(frac=1)
train.reset_index(drop=True)
train=train.fillna(train.mode())
train

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
584412,136,6,2013-03-09,3950,365,1,0,0,0,a,c,2200.0,12.0,2010.0,1,22.0,2012.0,"Feb,May,Aug,Nov"
589742,246,7,2014-06-22,0,0,0,0,0,0,c,a,4660.0,4.0,2013.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
951097,987,1,2014-09-01,11407,1245,1,1,0,0,c,a,1690.0,6.0,2007.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
957323,913,7,2014-03-16,0,0,0,0,0,0,a,a,280.0,8.0,2010.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
317752,769,1,2014-12-15,14941,3839,1,1,0,0,b,b,840.0,8.0,2010.0,1,48.0,2012.0,"Jan,Apr,Jul,Oct"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303070,129,3,2014-01-29,6531,893,1,0,0,0,a,a,2460.0,8.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
104050,610,5,2013-11-01,0,0,0,0,a,1,a,a,660.0,1.0,2007.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
272783,918,4,2014-06-05,6585,680,1,1,0,0,a,c,18710.0,4.0,2015.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
582365,1029,5,2014-01-03,4481,614,1,0,0,1,a,a,1590.0,3.0,2006.0,0,22.0,2012.0,"Jan,Apr,Jul,Oct"
860490,493,2,2014-09-23,6087,685,1,0,0,0,d,c,1150.0,8.0,2010.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"

In [140]:
train.to_csv("SalesForecasting.csv", index=False)