In [85]:
import numpy as np
import pandas as pd

In [86]:
train=pd.read_csv("/kaggle/input/rossmann-store-sales/train.csv")
store=pd.read_csv("/kaggle/input/rossmann-store-sales/store.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [87]:
train.head(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1

In [88]:
train.tail(2)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [89]:
train.DayOfWeek.nunique(),train.Date.nunique(),train.Store.nunique()

(7, 942, 1115)

In [90]:
store.drop("PromoInterval", axis=1, inplace=True)
store.head(2)

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0

In [91]:
train=pd.merge(train,store, on="Store" )
train.head(3)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
0,1,5,2015-07-31,5263,555,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN
1,1,4,2015-07-30,5020,546,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN
2,1,3,2015-07-29,4782,523,1,1,0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN

In [92]:
train=train.sample(frac=1)
train = train.reset_index(drop=True)
train.fillna(train.median())
train

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear
0,866,5,2013-02-08,7589,506,1,1,0,0,d,a,9680.0,NaN,NaN,1,5.0,2013.0
1,596,3,2013-03-13,3488,603,1,0,0,0,c,a,290.0,9.0,2006.0,0,NaN,NaN
2,822,3,2015-03-18,8172,597,1,1,0,0,a,c,410.0,11.0,2010.0,1,48.0,2010.0
3,740,6,2013-07-27,5887,494,1,0,0,1,d,a,6400.0,3.0,2014.0,0,NaN,NaN
4,268,2,2014-12-02,7325,722,1,1,0,0,a,a,4520.0,2.0,2014.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017204,480,5,2013-07-12,3779,558,1,0,0,1,a,a,300.0,11.0,2012.0,0,NaN,NaN
1017205,316,1,2015-05-04,15412,1214,1,1,0,0,d,a,9000.0,8.0,2001.0,0,NaN,NaN
1017206,608,3,2015-07-22,7541,778,1,0,0,1,a,c,18370.0,2.0,2013.0,1,14.0,2011.0
1017207,707,6,2015-07-25,3804,388,1,0,0,0,a,c,2900.0,7.0,1990.0,0,NaN,NaN
1017208,95,5,2013-05-24,6532,822,1,0,0,0,a,a,1890.0,10.0,2014.0,0,NaN,NaN

In [93]:
train.isna().sum()

Store                             0
DayOfWeek                         0
Date                              0
Sales                             0
Customers                         0
Open                              0
Promo                             0
StateHoliday                      0
SchoolHoliday                     0
StoreType                         0
Assortment                        0
CompetitionDistance            2642
CompetitionOpenSinceMonth    323348
CompetitionOpenSinceYear     323348
Promo2                            0
Promo2SinceWeek              508031
Promo2SinceYear              508031
dtype: int64